{% extends "layout.html" %}
{% block title %}all loans {% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #9dd3ed;
    background-color: rgb(12, 71, 148);
  }
</style>
{% endblock %}
{% block content %}

<h1 class="important">All Loans</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
  {%- for loan in loans %}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title"> Book: {{ loan.books.name }}</h5>
        <p class="card-title">Customer: {{ loan.customers.name }}
          <br>
          Loan Date: {{ loan.Loandate }}
          <br>
          Return Date: {{ loan.Returndate }}
        </p>
      </div>
      <a href="/return_loan/{{loan.id}}" class="btn btn-info">Return Book</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}