{% extends "layout.html" %}
{% block title %}Search Book{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  .important {
    color: #9dd3ed;
    background-color: rgb(12, 71, 148);
  }
</style>
{% endblock %}
{% block content %}
<h1 class="important"> Search Book</h1>

<br><br>
<form action="/book/" name="add" method="POST">
  <label style="color:azure;">Enter a book name:</label>
  <input type="text" name="name" required><br><br>
  <input class="btn btn-primary" type="submit" value="find a book">
</form><br><br>
<div class="row row-cols-1 row-cols-md-4 g-4">
  {%if book1%}
  <div class="card h-100">
    <h5 style="color: #f41d21;" class="card-title"> Book name: {{book1.name}}</h5>
    <div class="card-body">Author: {{book1.Author}}</div>
    <div class="card-body">Year published: {{book1.Year_published}}</div>
    
  </div>
  {%endif%}
</div>
{% endblock %}